[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "custom"

[packages]
fastapi = "*"
pip = "*"
install = "*"
uvicorn = {extras = ["standard"], version = "*"}
loguru = "*"
sqlalchemy = "*"
pysnowflake = "*"
asyncpg = "*"
pydantic = {extras = ["dotenv"], version = "*"}
typer = {extras = ["all"], version = "*"}
rich = "*"

[dev-packages]
black = "*"
pylint = "*"
pylint-pydantic = "*"

[requires]
python_version = "3.10"
